@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find a medication, the closest to your city</p>

    @model Saidality.Models.Locaton
    @{
        ViewData["Title"] = "Index";
    }

    <h1>Binding data into Dropdown list</h1>
    <hr />
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">

                    <div class="form-control col col-md-4">
                        <label for="Medicine">Medicine Name</label>
                        <input type="text" class="form-control" id="Medicine" placeholder="Medicine Name">
                    </div>
                    <div class="form-control col col-md-4">
                        <label for="state">Select State</label>
                        <select class="form-control" id="state" asp-for="LocatonID" asp-items="@(new SelectList(ViewBag.message,"LocatonID","State"))">
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary">Search</button>

                </div>
                </form>
           
        </div>
</div>
</div>